.header {
  padding: 4rem 8rem 8rem 8rem;

  background-image: linear-gradient(
      rgba($color-secondary, 0.93),
      rgba($color-secondary, 0.93)
    ),
    url("../img/hero.jpeg");
  background-size: cover;
  background-position: center;
  grid-column: full-start / col-end 6;

  display: grid;
  grid-template-rows: 1fr min-content minmax(min-content, 6rem) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  grid-row-gap: 1.5rem;
  justify-content: center;

  @media only screen and (max-width: $bp-medium) {
    grid-column: full-start / full-end;
  }

  @media only screen and (max-width: $bp-small) {
    padding: 5rem;
  }

  &__logo {
    height: 3rem;
    justify-self: center;
  }

  &__btn {
    align-self: start;
    justify-self: start;
  }

  &__seenon-text {
    font-size: 1.6rem;
    color: $color-grey-light-2;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-gap: 1.5rem;
    align-items: center;

    &::before,
    &::after {
      content: "";
      display: block;
      height: 1px;
      background-color: currentColor;
    }
  }

  &__seenon-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      max-height: 2.5rem;
      max-width: 100%;
      filter: brightness(70%);
      transition: 0.2s;

      @media only screen and (max-width: $bp-small) {
        height: 1.5rem;
      }

      &:hover {
        filter: brightness(100%);
        transform: translateY(-3px) scale(1.05);
      }
    }
  }
}
